.pdf_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #4d4d4daf;
  padding: 50px 0;
}

.modal_body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .close_btn {
    padding: 8px 15px;
    background-color: #120435;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid yellow;
    width: 100px;
  }
  .body{
    width: 100%;
  }
  .parts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    button{
        background-color: #120435;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 8px 15px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
}


@media(max-width:1210px){
    .modal_body{
        width: 95%;
    }
}